<!DOCTYPE html>
<html>
<head> 
<title> Casadematerial.com  </title>
<link rel="stylesheet" href="static/css/style.css"> 
</head>
<body>
<div class="blur">
<header> 


</header>
<nav> 


</nav>
<br> <br> <br> <br> <br> <br>
<section > 

	<h1>  é melhor ir procurando <br> um pedreiro de confiança 
	<br> porque o material de construção<br> você vai achar rapidinho...
   </h1>
   <div align="center">
   <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.casadematerial.com.br/&layout=standard&show_faces=false&width=380&action=like&colorscheme=light&height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:25px;" allowtransparency="true"></iframe> </div>
</section>


</div> 

</body>

</html>



