body {
    background:url('../img/indústria.jpg')

     no-repeat top center   ;
  
    background-size: 100% auto;


}



h1 {

	text-align:center;
	font-family: arial,helvetica,freesans,sans-serif;
	font-size: 20px;
	font-size: 3em;
    color: #fff;
	margin: 60px 0 20px 0%;
	line-height: 1.1em;
}












